.controls {
	display: block;
	margin-top: .5em;
	margin-bottom: .5em;
	padding: 0;
}
#log {
	font-size: 80%
}
#statusBar {
	font-family: monospace;
	color: #9F000F;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0;
}
#serverStatusBar {
	bottom: 0.4em;
	right: 0.4em;
	top: auto;
	left: auto;
	font-family: monospace;
	padding: 0.2em 0.2em 0.2em 0.2em;
}
.highlight {
	color: red;
}
ins {
	background-color: #c6ffc6;
	text-decoration: none;
}

del {
	background-color: #ffc6c6;
}
.diff {
	font-family: monospace;
}


.buttonsContainer {
	display: table;
	position: fixed;
	bottom: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	text-align: center;
	background-color: rgba(128,128,200,0.7);
}

.buttons {
	display: table-cell;
	vertical-align: middle;
	padding: 0.5em;
}

button {
	width: 7em;
}

/*from level1.css*/
body {
  background-color: #424242;
}
.canvas-container {
    margin: 0;
    width: 960px;
    float: left;
    display: grid;
    grid-template-columns: 960px 135px; 
}

.canvas-container:after {
    content: "";
    display: table;
    clear: both;
}

canvas {
    /* padding-left:100px; */
    float: left;
}

.canva{
    border:1px solid #000000;
}

.container {
    width: 1095px;
    height: 640px;
    background-color: white;
}




/* from speechbar.css*/
.speechbar {
    width: 1095px;
    height: 100px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 100px auto;
}
.asrText {
    margin-left: 25px;
}

/* from itemBar.css */
.itemBar {
    width: 135px;
    height: 540px;
    border: 1px solid #000000;
    background-color: #795548;
    float: left;
}
