body {
  background-color: #000000;
}
.canvas-container {
    margin: 0 auto;
    width: 960px;
    float: left;
  }

  .canvas-container:after {
    content: "";
    display: table;
    clear: both;
  }

  canvas {
    /* padding-left:100px; */
    float: left;
  }

  .canva{
    border:1px solid #000000;
  }