body {
  background-color: #424242;
}
.canvas-container {
    margin: 0;
    width: 960px;
    float: left;
    display: grid;
    grid-template-columns: 960px 135px; 
  }

  .canvas-container:after {
    content: "";
    display: table;
    clear: both;
  }

  canvas {
    /* padding-left:100px; */
    float: left;
  }

  .canva{
    border:1px solid #000000;
  }

  .container {
    width: 1095px;
    height: 640px;
    background-color: white;
  }